<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <h1 style="text-align: center">Your Article</h1>
        <list-errors :errors="errors"></list-errors>

          <form>
            <fieldset>

              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="Article Title"
                  v-model="article.title"/>
              </fieldset>

              <fieldset class="form-group">
                <input
                  class="form-control"
                  type="text"
                  placeholder="What's this article about?"
                  v-model="article.description"/>
              </fieldset>

              <fieldset class="form-group">
                                        <textarea
                                          class="form-control"
                                          rows="8"
                                          placeholder="Write your article (in markdown)"
                                          v-model="article.body">
                                        </textarea>
              </fieldset>

              <fieldset class="form-group">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter tags"
                  v-model="article.tag"
                  @keyup="watchForEnter"
                />

                <div class="tag-list">
                  <span class="tag-default tag-pill" v-for="tag in article.tagList">
                      <i class="ion-close-round" v-on:click="removeTag(tag)">
                      </i>
                        {{tag}}
                  </span>
                </div>
              </fieldset>

              <button
                class="btn btn-lg pull-xs-right btn-primary"
                type="button"
                v-on:click="submitForm(article)">
                Publish Article
              </button>

            </fieldset>
          </form>

      </div>
    </div>
  </div>
</div>
