<nav class="navbar navbar-light">
  <div class="container">

    <router-link to="/" class="navbar-brand" exact>
        {{appName}}
    </router-link>

    <div v-if="currentUser">
      <ul class="nav navbar-nav pull-xs-right">

        <li class="nav-item">
          <router-link to="/" class="nav-link" activeClass="active" exact>
              Home
          </router-link>
        </li>

        <li class="nav-item">
          <router-link to="/editor" class="nav-link" activeClass="active">
          <i class="ion-compose"></i>&nbsp;New Post
          </router-link>
        </li>

        <li class="nav-item">
          <router-link to="/settings" class="nav-link" activeClass="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
          </router-link>
        </li>

        <li class="nav-item">
          <router-link
            :to="'/profile/' + currentUser.username"
            class="nav-link" activeClass="active">
          <img :src="currentUser.image" class="user-pic" />
          {{currentUser.username}}
          </router-link>
        </li>

      </ul>
    </div>

    <div v-if="!currentUser">
      <ul class="nav navbar-nav pull-xs-right">

        <li class="nav-item">
          <router-link to="/" class="nav-link" activeClass="active" exact>
            Home
          </router-link>
        </li>

        <li class="nav-item">
          <router-link to="/login" class="nav-link" activeClass="active">
              Sign in
          </router-link>
        </li>

        <li class="nav-item">
          <router-link to="/register" class="nav-link" activeClass="active">
              Sign up
          </router-link>
        </li>

      </ul>
    </div>
  </div>
</nav>
