<form class="card comment-form" @submit.prevent="createComment(comment)">
  <div class="card-block">
          <textarea class="form-control" placeholder="Write a comment..." v-model="comment.body" rows="3">
          </textarea>
  </div>
  <div class="card-footer">
    <img :src="$store.state.auth.currentUser.image" class="comment-author-img"/>
    <button class="btn btn-sm btn-primary" type="submit"> Post Comment
    </button>
  </div>
</form>
