<div class="article-meta" v-if="article.author">
  <router-link :to="'/profile/' + article.author.username">
    <img :src="article.author.image"/>
  </router-link>

  <div class="info">
    <router-link :to="'/profile/' + article.author.username" class="author">
      {{article.author.username}}
    </router-link>
    <span class="date">
      {{article.createdAt | moment("dddd, MMMM Do YYYY")}}
    </span>
    <div v-if="$store.state.auth.currentUser && $store.state.auth.currentUser.username === article.author.username">
      <article-actions></article-actions>
    </div>
    <div v-else>
       <span>
         <button :class="followClass" @click.prevent="toggleFollowing(article)">
               <i class="ion-plus-round"></i>&nbsp;{{article.author.following? 'Unfollow': 'Follow'}}
                {{article.author.username}}
         </button>
         <button :class="favoriteClass" @click.prevent="toggleFavorite(article)">
                  <i class="ion-heart"></i>
                  {{article.favorited ? 'Unfavorite' : 'Favorite' }} Article
                  <span class="counter"> ({{article.favoritesCount}})</span>
         </button>
          </span>
    </div>
  </div>
</div>
