<footer>
  <div class="container">
    <router-link to="/" class="logo-font" exact>medium</router-link>
    <span class="attribution">
      &copy; {{date | moment("YYYY")}}.
      Bachelor thesis by:  <a href="https://www.linkedin.com/in/muresan-vladut-673696110?trk=hp-identity-name">Vladut Muresan</a>.
    </span>
  </div>
</footer>
