<div class="col-xs-12 col-md-8 offset-md-2">
<div v-if="$store.state.auth.currentUser">
  <div>
    <!--<ListErrors errors={props.errors}/>-->
    <comment-input></comment-input>
  </div>
  <comment-list :comments="comments"></comment-list>
</div>
<div v-else="!$store.state.auth.currentUser">
  <p>
    <router-link to="/login">Sign in
    </router-link>
    &nbsp;or&nbsp;
    <router-link to="/register">Sign Up
    </router-link>
    &nbsp;to add comments on this article.
  </p>

  <comment-list :comments="comments"></comment-list>
</div>
</div>
