<div>
<span>
  <router-link :to="'/editor/' + $route.params.slug" class="btn btn-sm action-btn btn-secondary">
    <i class="ion-edit"/> Edit Article
  </router-link>

  <button class="btn btn-sm btn-outline-primary" @click="deleteArticle()">
      <i class="ion-trash-a"/> Delete Article
  </button>
</span>
</div>
