<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>

        <list-errors :errors="errors"></list-errors>
          <settings-form submit-form="submitForm" />
            <hr />

            <button class="btn btn-outline-danger" v-on:click="logout()">
              Or click here to logout.
            </button>
      </div>
    </div>
  </div>
</div>
