<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign Up</h1>
        <p class="text-xs-center">
          <router-link to="/login">
          Have an account?
          </router-link>
        </p>

        <list-errors :errors="errors"></list-errors>

          <form @submit.prevent="register(user)">
            <fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="text"
                       placeholder="Username" v-model="user.username"/>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="email"
                       placeholder="Email" v-model="user.email"/>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control form-control-lg" type="password"
                       placeholder="Password" v-model="user.password"/>
              </fieldset>
              <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
                Sign Up
              </button>
            </fieldset>
          </form>


      </div>
    </div>
  </div>
</div>
