<div>
  <div v-if="!list" class="article-preview">Loading...</div>
  <div v-else-if="list.length === 0" class="article-preview">No articles are here...yet</div>
  <div v-else="list.length > 0" v-for="article in list">
    <article-preview :article="article"></article-preview>
  </div>
  <list-pagination :pagesList="pagesList" :clicked="clicked" :currentPage="currentPage"></list-pagination>
</div>
