<form @submit.prevent="saveSettings(settings)">
  <fieldset>
    <fieldset id="form-group">
      <input
        class="form-control"
        type="text"
        placeholder="URL of profile picture"
        v-model="settings.image"/>
    </fieldset>

    <fieldset class="form-group">
      <input
        class="form-control form-control-lg"
        type="text"
        placeholder="Username"
        v-model="settings.username"/>
    </fieldset>
    <fieldset class="form-group">
                        <textarea
                          class="form-control form-control-lg"
                          rows="8"
                          placeholder="Short bio about you"
                          v-model="settings.bio">
                        </textarea>
    </fieldset>
    <fieldset class="form-group">
      <input
        class="form-control form-control-lg"
        type="email"
        placeholder="Email"
        v-model="settings.email"/>
    </fieldset>
    <fieldset class="form-group">
      <input
        class="form-control form-control-lg"
        type="password"
        placeholder="Old Password"
        v-model="settings.old_password" />
    </fieldset>
    <fieldset class="form-group">
      <input
        class="form-control form-control-lg"
        type="password"
        placeholder="New Password"
        v-model="settings.password" />
    </fieldset>
    <button
      class="btn btn-lg btn-primary pull-xs-right"
      type="submit">
      Update Settings
    </button>
  </fieldset>
</form>
