<div class="home-page">
    <div class="container page">
      <div class="row">
        <main-view></main-view>
        <div class="col-md-3">
          <div class="sidebar">
            <article-suggestions :recommendations="recommendations"></article-suggestions>

            <p>Latest Comments</p>
            <latest-comments :comments="comments"/>

            <p>Most Popular Tags</p>
            <tags-filter :tags="tags" :clickTag="onClickTag"/>
          </div>
        </div>
      </div>
    </div>
</div>
