<div class="article-preview">
  <div class="article-meta">
    <router-link :to="'/profile/'+ article.author.username">
       <img :src="article.author.image"/>
    </router-link>
    <div class="info">
      <router-link :to="'/profile/'+ article.author.username" class="author">
      {{article.author.username}}
      </router-link>
      <span class="date">
        {{article.createdAt | moment("dddd, MMMM Do YYYY")}}
      </span>
    </div>
    <div class="pull-xs-right">
      <button :class="favorited" @click.prevent="handleClick(article)">
        <i class="ion-heart"></i> {{article.favoritesCount}}
      </button>
    </div>
  </div>
  <router-link :to="'/article/' + article.slug" class="preview-link">
    <h1>{{article.title}}</h1>
    <p>{{article.description}}</p>
    <span>Read more...</span>
    <ul class="tag-list" v-for="tag in article.tagList">
      <li class="tag-default tag-pill tag-outline">{{tag}}</li>
    </ul>
  </router-link>
</div>
