<div class="tag-list" v-if="recommendations.length !== 0">
  <p>Articles Suggestion</p>
  <div v-for="article in recommendations" class="tag-default tag-pill">
    <router-link :to="'/article/' + article.slug"  class="tag-default tag-pill">
      {{article.title}}
    </router-link>
  </div>
</div>
