<div class="article-page" v-if="article">
  <div class="banner">
    <div class="container">
      <h1>{{article.title}}</h1>
      <article-meta :article="article"></article-meta>
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-xs-12">
        <div v-html="article.marked"></div>
        <ul class="tag-list" v-for="tag in article.tagList">
          <li class="tag-default tag-pill tag-outline">{{tag}}</li>
        </ul>
      </div>
    </div>
    <hr/>

    <div class="article-actions">
    </div>
    <div class="row">
      <comments-container :comments="comments"></comments-container>
    </div>
  </div>

</div>
