<template>
  <div>
    <header-layout :appName="$store.state.common.appName" :currentUser="$store.state.auth.currentUser"></header-layout>
    <router-view :key="$route.path"></router-view>
    <footer-layout></footer-layout>
  </div>
</template>
<script>
  /* ============
   * Entry Point
   * ============
   *
   * The entry point of the application
   */

  import store from './store';
  import { router } from './../bootstrap';
  import headerLayout from './components/layout/header/header.vue';
  import footerLayout from './components/layout/footer/footer.vue';
  import authService from './../app/services/auth';

  export default {
    /**
     * The Vuex store
     */
    store,

    /**
     * The router
     */
    router,

    /**
     * Fires when the app has been mounted
     */
    mounted() {
      if (this.$store.state.auth.authenticated) {
        authService.get();
      }
    },
    components: {
      'header-layout': headerLayout,
      'footer-layout': footerLayout,
    },
  };
</script>
<style>
  @import "//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic";
</style>
