<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign In</h1>
        <p class="text-xs-center">
          <router-link to="/register">
            Need an account?
          </router-link>
        </p>

        <list-errors :errors="errors"></list-errors>

        <form @submit.prevent="login(user)">
          <fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="email"
                     placeholder="Email" v-model="user.email">
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="password"
                     placeholder="Password" v-model="user.password"/>
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign In
            </button>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
