<div class="tag-list">
  <div v-if="comments" v-for="comment in comments" class="tag-default tag-pill">
    <router-link :to="'/article/' + comment.article.slug"  class="tag-default tag-pill">
      {{comment.author.username}} posted on article: {{comment.article.title}}
    </router-link>
  </div>
  <div v-if="!comments">Loading Comments...</div>
</div>
