<div class="col-md-9">
  <div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
      <your-feed-tab :tab="tab"></your-feed-tab>
      <global-feed-tab :tab="tab"></global-feed-tab>
      <tag-filter-tab :tag="tag"></tag-filter-tab>
    </ul>
  </div>
  <article-list :list="this.articleList" :pagesList="this.pagesList"
                :clicked="clicked" :currentPage="currentPage">
  </article-list>
</div>
