<div class="profile-page">
  <div v-if="profile" class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img :src="profile.image" class="user-img"/>
          <h4>{{profile.username}}</h4>
          <p>{{profile.bio}}</p>
          <router-link class="link-settings" v-if="isUser" to="/settings">
            <i class="ion-gear-a"></i> Edit Profile Settings
          </router-link>
          <button v-if="!isUser" :class="followClass" @click.prevent="toggleFollowing(profile)">
            <i class="ion-plus-round"></i>&nbsp;{{profile.following? 'Unfollow': 'Follow'}}
            {{profile.username}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="article-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a href="" :class="myClass" @click.prevent="myHandler()">
                My Articles
              </a>
            </li>
            <li class="nav-item">
              <a href="" :class="favClass" @click.prevent="favHandler()">
                Favorite Articles
              </a>
            </li>
          </ul>
        </div>
        <article-list :list="articleList" :pagesList="pagesList"
                      :clicked="clicked" :currentPage="currentPage">
        </article-list>
      </div>
    </div>
  </div>
</div>
