<div class="tag-list">
<div v-if="tags" v-for="tag in tags" class="tag-default tag-pill">
  <a href="" class="tag-default tag-pill" @click.prevent="handleClick(tag)">
    {{tag}}
  </a>
</div>
<div v-if="!tags">Loading Tags...</div>
</div>
