<nav v-if="pagesList && pagesList.length > 1">
  <ul class="pagination" v-for="page in pagesList">
    <li :class="isCurrent(page)" @click.prevent="click(page)">
        <a class="page-link" href="">{{page+1}}</a>
    </li>
  </ul>
</nav>
