<div class="card">
  <div class="card-block">
    <p class="card-text">
      {{comment.body}}
    </p>
  </div>
  <div class="card-footer">
    <router-link :to="'/profile/' + comment.author.username" class="comment-author">
      <img :src="comment.author.image" class="comment-author-img"/>
    </router-link>
    &nbsp;
    <router-link :to="'/profile/' + comment.author.username" class="comment-author">
        {{comment.author.username}}
    </router-link>
    <span class="date-posted">
      {{comment.createdAt | moment("dddd, MMMM Do YYYY")}}
    </span>
    <span v-if="$store.state.auth.currentUser && $store.state.auth.currentUser.username === comment.author.username" class="mod-options">
      <i class="ion-trash-a" @click="deleteComment()"></i>
    </span>
  </div>
</div>
